@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';

@font-face {
  font-family: 'Gobel';
  src: url('/font/woff2/FiraCode-Light.woff2') format('woff2'),
  url('/font/woff/FiraCode-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Gobel', sans-serif;
  }
}