@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gobel font fira_code.css in folder public/font/ttf/ */
@font-face {
  font-family: 'Gobel';
  /* src: url('/path_to_your_font/Gobel.woff2') format('woff2'), */
  /* url('/path_to_your_font/Gobel.woff') format('woff'); */
  src: url('/font/woff2/FiraCode-Light.woff2') format('woff2'),
  url('/font/woff/FiraCode-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Gobel', sans-serif;
  }
}